// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.

$v-font-size: 12px;
$v-font-family: verdana,helvetica,arial;
//$v-font-family: verdana,helvetica,arial,sans-serif;

$v-layout-margin-left: 10px;
$v-layout-margin-top: 10px;
$v-layout-margin-right: 10px;


@import "../valo/valo.scss";


@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
}

div.v-layout.v-horizontal.v-widget {
  white-space: pre-wrap;
}

